<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hopes</title>
    <style>
        #donateform {
            background-color: aqua;
            padding: 20px;
            margin: 20px;
        }
        
        #usersignupform {
            background-color: cadetblue;
            padding: 20px;
            margin: 20px;
        }
        
        #usersigninform {
            background-color: gray;
            padding: 20px;
            margin: 20px;
        }
    </style>
</head>

<body>
    <button id="donatebutton">Donate</button>
    <button id="signupbutton">Signup</button>
    <a id="oauth" href="">sign in using gmail</a>


    <h1>Donate For Gaza</h1>

    <form id="donateform" action="/pay" method="POST">
        <label for="email">In need Email:</label>
        <input type="text" id="email" name="email"><br><br>
        <label for="amount">Amount:</label>
        <input type="text" id="amount" name="amount"><br><br>
        <!-- <input type="submit" value="Donate"> -->
        <button type="submit">Donate</button>
    </form>

    <form id="usersignupform" action="/api/v1/users/signup" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>

        <label for="nationalNo">National No:</label>
        <input type="text" id="nationalNo" name="nationalNo"><br><br>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email"><br><br>

        <label for="payPal">PayPal Account:</label>
        <input type="text" id="payPal" name="payPal"><br><br>

        <label for="dob">Birth Date:</label>
        <input type="text" id="dob" name="dob"><br><br>

        <label for="familyCount">Family Count:</label>
        <input type="text" id="familyCount" name="familyCount"><br><br>

        <label for="socialStatus">Social Status:</label>
        <input type="text" id="socialStatus" name="socialStatus"><br><br>

        <label for="healthStatus">Health Status:</label>
        <input type="text" id="healthStatus" name="healthStatus"><br><br>

        <label for="healthDesc">Health Description:</label>
        <input type="text" id="healthDesc" name="healthDesc"><br><br>

        <label for="income">Monthly Income:</label>
        <input type="text" id="income" name="income"><br><br>

        <label for="expencsies">Monthly Expencsies:</label>
        <input type="text" id="expencsies" name="expencsies"><br><br>

        <button type="submit">Signup</button>
    </form>








    <!-- <form action="/pay" method="post">
        Amount:<input type="text" name="amount"> In need Email:<input type="text" name="email">

        <input type="submit" value="pay">
    </form> -->
    <script>
        var donateform = document.getElementById("donateform");
        var usersignupform = document.getElementById("usersignupform");
        donateform.style.display = "none";
        usersignupform.style.display = "none";

        let donatebutton = document.getElementById('donatebutton');
        let signupbutton = document.getElementById('signupbutton');




        donatebutton.addEventListener("click", () => {
            if (donateform.style.display === "none") {
                usersignupform.style.display = "none";
                donateform.style.display = "inline-block";
            } else {
                donateform.style.display = "none";
            }
        });


        signupbutton.addEventListener("click", () => {
            if (usersignupform.style.display === "none") {
                donateform.style.display = "none";
                usersignupform.style.display = "inline-block";
            } else {
                usersignupform.style.display = "none";
            }
        });

        //OAuth
        let URL = 'https://accounts.google.com/o/oauth2/v2/auth';
        let options = {
            response_type: 'code',
            client_id: '82394101385-etk6j4a51uavmfnsg83uc7ccsc5nc0if.apps.googleusercontent.com',
            redirect_uri: 'https://gazahopes.herokuapp.com/api/v1/donor/oauth',
            scope: 'openid email',
            state: 'https://gazahopes.herokuapp.com',
            access_type: 'offline',
        }
        let QueryString = Object.keys(options).map((key) => {
            return `${key}=` + encodeURIComponent(options[key]);
        }).join("&");
        let authURL = `${URL}?${QueryString}`;
        let link = document.getElementById('oauth');
        link.setAttribute('href', authURL);
    </script>

</body>

</html>