<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hopes</title>
    <style>
        #donateform {
            background-color: aqua;
            padding: 20px;
            margin: 20px;
        }
        
        #usersignupform {
            background-color: cadetblue;
            padding: 20px;
            margin: 20px;
        }
        
        #usersigninform {
            background-color: gray;
            padding: 20px;
            margin: 20px;
        }
    </style>
</head>

<body>
  <h2>Palestinian health surveillance system</h2>

</body>

</html>